---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Content from '~/components/widgets/Content.astro';
import Steps from '~/components/widgets/Steps.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import Features from '~/components/widgets/Features.astro';
import { footerData } from '~/navigation';
import { getPermalink } from '~/utils/permalinks';
import { a } from '~/components/common/A';

import me from '~/assets/images/me.webp';
import kuby from '~/assets/images/kubyp.webp';
import ardisc from '~/assets/images/ardiscp.webp';
import cao from '~/assets/images/caop.webp';

const metadata = {
  title: 'About me',
};
---

<Layout metadata={metadata}>
  <Fragment slot="announcement"></Fragment>
  <Fragment slot="header">
    <Header
      links={[
        { text: 'About', href: '#about' },
        { text: 'Experience', href: '#experience' },
        { text: 'Projects', href: '#projects' },
        { text: 'Blog', href: '#blog' },
        { text: 'Contact', href: getPermalink('/contact') },
      ]}
      socialLinks={footerData.socialLinks}
      isSticky
      showToggleTheme
    />
  </Fragment>

  <Content
    id="about"
    columns={3}
    classes={{ container: 'pt-0 md:pt-0 lg:pt-8' }}
    items={[
      {
        icon: 'tabler:brand-x',
        callToAction: {
          target: '_blank',
          text: 'Twitter',
          href: 'https://twitter.com/piotrpdev',
        },
      },
      {
        icon: 'tabler:brand-github',
        callToAction: {
          target: '_blank',
          text: 'GitHub',
          href: 'https://github.com/piotrpdev',
        },
      },
      {
        icon: 'tabler:brand-linkedin',
        callToAction: {
          target: '_blank',
          text: 'LinkedIn',
          href: 'https://www.linkedin.com/in/piotrpdev/',
        },
      },
    ]}
    image={{
      src: me.src,
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">About me</h3>
      <p>
        Hi, my name is Piotr (I'm Polish), but you can call me Peter.
      </p>
      <br />
      <p>
        I am currently studying for a <Fragment set:html={a("https://www.wit.ie/courses/bsc-hons-in-software-systems-development-degree-course", "BSc (Hons.) in Software Systems Development")} />
        from the <Fragment set:html={a("https://www.wit.ie/", "South East Technological University (WIT)")} /> in Ireland.
      </p>
      <br />
      <p>
        I mainly make 
        things with <Fragment set:html={a("https://github.com/piotrpdev/better-wit-preact", "React")} /> and/or <Fragment set:html={a("https://github.com/piotrpdev/expo-license-list", "TypeScript")} />. However, I have worked with a lot of 
        languages and technologies over the years including <Fragment set:html={a("https://github.com/piotrpdev/strips", "PHP")} />, <Fragment set:html={a("https://github.com/piotrpdev/AutoFocus", "C#")} />, <Fragment set:html={a("https://github.com/piotrpdev/WeBuy-Cex-Price-Tracker", "Python")} />, etc.
      </p>
      <br />
      <p>If you're curious to dive deeper into my work, you can follow me:</p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Steps
    id="experience"
    title="Work experience"
    items={[
      {
        title:
          'Junior Software Engineer <br /> <span class="font-normal">Great Company&trade;</span> <br /> <span class="text-sm font-normal">June 2025 - Duodecember 2046?</span>',
        description: `I will be looking for a place to work at after my graduation in 2025. I love working with and learning from like-minded people and I am always looking for new opportunities to grow.`,
        icon: 'tabler:award',
      },
      {
        title:
          'Software Engineering Intern <br /> <span class="font-normal">Red Hat, Waterford, Ireland</span> <br /> <span class="text-sm font-normal">June 2023 - December 2023</span>',
        description: `Part of the ${a("https://www.redhat.com/en/technologies/cloud-computing/openshift/edge-computing", "Red Hat OpenShift AI Edge")} team.<br /><br />Worked on a new ${a("https://opendatahub.io/", "Open Data Hub")} feature that allows a user to take a trained AI/ML model, use ${a("https://www.redhat.com/en/technologies/cloud-computing/openshift/pipelines", "OpenShift Pipelines")} to package it with all the dependencies into a container image, and deploy it to ${a("https://www.redhat.com/en/products/edge", "Edge")} location(s) (e.g. a factory) (represented by ${a("https://www.redhat.com/en/technologies/management/advanced-cluster-management", "ACM")}-managed clusters) in a centralized way.<br /><br />Most of my work can be found on GitHub: ${a("https://github.com/opendatahub-io/ai-edge", "https://github.com/opendatahub-io/ai-edge")}`,
        icon: 'tabler:brand-redhat',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <!-- Steps Widget ****************** -->

  <Steps
    id="education"
    title="Education"
    items={[
      {
        title: `BSc (Hons.) in Software Systems Development <br /> <span class="font-normal">South East Technological University (WIT)</span> <br /> <span class="text-sm font-normal">September 2021 - June 2025</span>`,
        icon: 'tabler:school',
      },
      {
        title: `Random Facts and Basic Programming<br /> <span class="font-normal">The Internet&trade;, mainly Google and Stack Overflow</span> <br /> <span class="text-sm font-normal">2003 - Present</span>`,
        icon: 'tabler:school',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    id="projects"
    subtitle={`Some of the projects I'm proud of (see my ${a("https://github.com/piotrpdev", "GitHub")} profile for more).`}
    title="My Projects"
    items={[
      {
        title: 'Well designed',
        description:
          'Went through the process of coming up with an idea, designing an app, and publishing the final product.',
      },
      {
        title: 'Various technologies',
        description:
          'Used Expo, React Native, TypeScript, and React Native Paper.',
      },
      {
        title: 'Effective workflow',
        description:
          'Worked on the project on a regular basis, using a Kanban board to finish it in a timely manner.',
      },
    ]}
    callToAction={{
      target: '_blank',
      text: 'Go to the project »',
      class: "text-blue-400 hover:text-gray-800 dark:text-gray-300 underline-offset-4 underline dark:no-underline hover:dark:underline",
      href: 'https://cao-calculator.vercel.app/',
    }}
    image={{
      src: cao.src,
      alt: 'CAO Calculator',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">CAO Calculator</h3>
        Android app that helps calculate how many CAO points you need to qualify for a course.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'Physical electronics',
        description: `Combines programming along with real-world tech.`,
      },
      {
        title: 'Asynchrous communication',
        description:
          'Arduino talks to Python over a custom serial protocol. Discord talks to Python using WebSockets.',
      },
      {
        title: 'Various programming languages',
        description:
          "Arduino code written in C, Python code written in Python (duh), and BetterDiscord code written in JavaScript.",
      },
    ]}
    callToAction={{
      target: '_blank',
      text: 'Go to the project »',
      class: "text-blue-400 hover:text-gray-800 dark:text-gray-300 underline-offset-4 underline dark:no-underline hover:dark:underline",
      href: 'https://github.com/piotrpdev/Arduino-Discord-Controller',
    }}
    image={{
      src: ardisc.src,
      alt: 'Arduino Discord Controller',
    }}
  >
  <Fragment slot="content">
    <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Arduino Discord Controller</h3>
      Controlling Discord using a combination of Arduino, <Fragment set:html={a("https://betterdiscord.app/", "BetterDiscord")} />, and Python.
  </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

    <!-- Content Widget **************** -->

    <Content
    isAfterContent
    isReversed
    items={[
      {
        title: 'Command Line Interface',
        description: `Beautiful CLI design thanks to ${a("github.com/charmbracelet/bubbletea", "bubbletea")} and ${a("github.com/charmbracelet/lipgloss", "lipgloss")}.`,
      },
      {
        title: 'Fast and efficient',
        description:
          'Optimal use of system resources and easy installation thanks to Go.',
      },
      {
        title: 'Stable',
        description:
          `Reliable operation thanks to the official ${a("https://github.com/kubernetes/client-go", "client-go")} package and Go's type-safe error handling.`,
      },
    ]}
    callToAction={{
      target: '_blank',
      text: 'Go to the project »',
      class: "text-blue-400 hover:text-gray-800 dark:text-gray-300 underline-offset-4 underline dark:no-underline hover:dark:underline",
      href: 'https://github.com/piotrpdev/kuby',
    }}
    image={{
      src: kuby.src,
      alt: 'Kuby',
    }}
  >
  <Fragment slot="content">
    <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Kuby</h3>
      Simple visualization of Kubernetes resources.
  </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

    <!-- Features Widget *************** -->

    <Features
    title="My Hobbies"
    subtitle="This is what I like doing in my spare time."
    items={[
      {
        title: 'Music',
        description:
          `I love music, ${a("https://musescore.com/piotrbplaczek", "I even compose my own sometimes")}. I’m a self taught pianist and I am very passionate about everything involved in music including its history, general theory, etc.`,
        icon: 'tabler:music',
      },
      {
        title: 'Electronics',
        description:
          `I like messing around with electronics. I have worked on a couple of small projects <span class="line-through">and tried soldering a few times</span> involving the Arduino, ESP32, Raspberry Pi, etc.`,
        icon: 'tabler:cpu',
      },
      {
        title: 'Science',
        description:
          `I'm super fascinated by many aspects of Mathemathics (e.g. the ${a("https://en.wikipedia.org/wiki/Banach%E2%80%93Tarski_paradox", "Banach–Tarski paradox")}), Physics (e.g. the ${a("https://www.researchgate.net/figure/The-Milky-Way-Galaxy-is-not-only-being-pulled-by-the-Shapley-Attractor-it-is-being-pushed_fig2_339229459", "Shapley Attractor")}), Chemistry (e.g. the ${a("https://en.wikipedia.org/wiki/Belousov%E2%80%93Zhabotinsky_reaction", "Belousov-Zhabotinsky reaction")}), etc.`,
        icon: 'tabler:flask',
      },
      {
        title: 'Gaming',
        description:
          'I spent a large part of my childhood playing Pokémon Platinum and Black, these days I mostly play Simulation games (e.g. Arma 3 and MFSX) along with Soulsborne games (e.g. Dark Souls).',
        icon: 'tabler:device-gamepad',
      },
    ]}
  />

  <!-- BlogLatestPost Widget **************** -->

  <BlogLatestPosts
    id="blog"
    title="Check out some of my writing"
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>
</Layout>
