---
import Layout from '~/layouts/LeftLayout.astro';
import FPCards from '~/components/widgets/FPCards.astro';
import FPAvatar from '~/components/widgets/FPAvatar.astro';
import me from '~/assets/images/me.jpg';
import interns from '~/assets/images/interns.png';
import pipeline from '~/assets/images/pipeline.png';
import kuby from '~/assets/images/kuby.png';
import ardisc from '~/assets/images/ardisc.jpg';
import cao from '~/assets/images/cao.png';
import redhatB from '~/assets/images/redhat-black.png';
import redhatR from '~/assets/images/redhat-red.png';
import FPAnchor from '~/components/common/FPAnchor.astro';

const metadata = {
  title: 'Piotr Płaczek',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <FPAvatar
    id="hero"
    columns={3}
    classes={{
      container: 'pt-0 md:pt-0 lg:pt-0 3xl:pt-0 pb-0 md:pb-0 lg:pb-0 max-w-4xl',
      content: 'flex flex-row-reverse'
    }}
    image={{
      src: me.src,
      alt: "Avatar"
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight text-center md:text-left dark:text-white sm:text-3xl mb-2">Hello there</h3>
      <p class="text-center md:text-left">
        I'm a Software Engineer studying <FPAnchor href="https://www.wit.ie/courses/bsc-hons-in-software-systems-development-degree-course" ariaLabel="SSD course on SETU Website">Software Systems Development</FPAnchor> at the <FPAnchor href="https://www.wit.ie/" ariaLabel="SETU Website">South East Technological University</FPAnchor> in Ireland. I'm also Passionate about Music and Gaming.
      </p>
    </Fragment>
  </FPAvatar>

  <FPCards
    id="experience"
    title="Experience"
    classes={{
      headline: {
        title: "text-lg md:text-xl md:text-left",
        container: "max-w-3xl md:ml-0 md:mb-4"
      },
      items: {
        title: "text-md md:text-lg",
        description: "text-sm md:text-md"
      },
      container: "pb-0 md:pb-0 lg:pb-0 pt-0 md:pt-0 lg:pt-0",
      wrapper: "flex flex-row justify-center items-end"
    }}
    items={[
      {
        image: {
          src: interns.src,
          alt: "Interns"
        },
        title: 'New Journey at Red Hat',
        description:
          'Meeting amazing colleagues, learning how to work with OpenShift, and writing personal projects.',
        classes: {
          panel: "p-0",
          title: "pl-6 pr-6 pt-4",
          description: "pl-6 pr-6 pb-6",
          imgWrapper: "m-0"
        },
        cardTag: "a",
        cardAttributes: { class: "contents" },
      },
      {
        image: {
          lightSrc: redhatB.src,
          darkSrc: redhatR.src,
          alt: "Red Hat Logo",
          width: "200",
          aspectRatio: "1.552",
          class: "mx-auto w-4 rounded-none bg-none shadow-none",
          layout: "constrained"
        },
        themedImages: true,
        title: 'Software Engineering Intern',
        description:
          'OpenShift AI (Edge)',
        classes: {
          panel: "rounded-none shadow-none dark:shadow-none backdrop-blur-none border-0 bg-inherit dark:bg-inherit p-0",
          title: "pl-6 pr-6 pt-4 text-center",
          description: "pl-6 pr-6 pb-6 text-center",
          imgWrapper: "p-4 rounded-lg"
        },
        cardTag: "div",
        cardAttributes: { class: "flex flex-col justify-center" },
      },
      {
        image: {
          src: pipeline.src,
          alt: "Pipeline"
        },
        title: 'Bringing AI to the Edge!',
        description:
          'Contributing to OpenDataHub, working with OpenShift Pipelines, and writing documentation.',
        classes: {
          panel: "p-0",
          title: "pl-6 pr-6 pt-4",
          description: "pl-6 pr-6 pb-6",
          imgWrapper: "m-0"
        },
        cardTag: "a",
        cardAttributes: { class: "contents" },
      },
    ]}
  >
  </FPCards>

  <FPCards
    id="projects"
    title="Projects"
    classes={{
      headline: {
        title: "text-lg md:text-xl md:text-left",
        container: "max-w-3xl md:ml-0 md:mb-4"
      },
      items: {
        title: "text-md md:text-lg",
        description: "text-sm md:text-md"
      },
      container: "pb-0 md:pb-0 lg:pb-0 pt-0 md:pt-0 lg:pt-0",
      wrapper: "flex flex-row justify-center items-end",
    }}
    items={[
      {
        image: {
          src: cao.src,
          alt: "CAO Calculator"
        },
        title: 'CAO Calculator',
        description:
          'Android app that helps calculate how many CAO points you need to qualify for a course.',
        classes: {
          panel: "p-0",
          title: "pl-6 pr-6 pt-4",
          description: "pl-6 pr-6 pb-6",
          imgWrapper: "m-0"
        },
        cardTag: "a",
        cardAttributes: { class: "contents", target: "_blank", href: "https://cao-calculator.vercel.app/", ariaLabel: "CAO Calculator" },
      },
      {
        image: {
          src: ardisc.src,
          alt: "Arduino Discord Controller"
        },
        title: 'Arduino Discord Controller',
        description:
          'Controlling Discord using a combination of Arduino, BetterDiscord, and Python.',
        classes: {
          panel: "p-0",
          title: "pl-6 pr-6 pt-4",
          description: "pl-6 pr-6 pb-6",
          imgWrapper: "m-0"
        },
        cardTag: "a",
        cardAttributes: { class: "contents", target: "_blank", href: "https://github.com/piotrpdev/Arduino-Discord-Controller", ariaLabel: "Arduino Discord Controller" },
      },
      {
        image: {
          src: kuby.src,
          alt: "Kuby"
        },
        title: 'Kuby',
        description:
          'Simple visualization of Kubernetes resources, using a CLI written in Go.',
        classes: {
          panel: "p-0",
          title: "pl-6 pr-6 pt-4",
          description: "pl-6 pr-6 pb-6",
          imgWrapper: "m-0"
        },
        cardTag: "a",
        cardAttributes: { class: "contents", target: "_blank", href: "https://github.com/piotrpdev/kuby", ariaLabel: "Kuby" },
      },
    ]}
  >
  </FPCards>
</Layout>
