---
import Layout from '~/layouts/LeftLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import FPCards from '~/components/widgets/FPCards.astro';
import Steps from '~/components/widgets/Steps.astro';
import FPAvatar from '~/components/widgets/FPAvatar.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import { getAsset } from '~/utils/permalinks';
import Image from '~/components/common/Image.astro';
import me from '~/assets/images/me.jpg';
import me2 from '~/assets/images/me2.png';
import interns from '~/assets/images/interns.png';
import pipeline from '~/assets/images/pipeline.png';
import kuby from '~/assets/images/kuby.png';
import ardisc from '~/assets/images/ardisc.jpg';
import cao from '~/assets/images/cao.png';
import redhatW from '~/assets/images/redhat-white.png';
import FPAnchor from '~/components/common/FPAnchor.astro';

const metadata = {
  title: 'Piotr Płaczek',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <FPAvatar
    id="hero"
    columns={3}
    classes={{
      container: 'pt-0 md:pt-0 lg:pt-8 pb-8 md:pb-6 lg:pb-6 max-w-4xl',
      content: 'flex flex-row-reverse'
    }}
    image={{
      src: me.src,
      alt: "Avatar"
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Hello there</h3>
      <p>
        I'm a Software Engineer studying <FPAnchor href="https://www.wit.ie/courses/bsc-hons-in-software-systems-development-degree-course" ariaLabel="SSD course on SETU Website">Software Systems Development</FPAnchor> at the <FPAnchor href="https://www.wit.ie/" ariaLabel="SETU Website">South East Technological University</FPAnchor> in Ireland. I'm also Passionate about Music and Gaming.
      </p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </FPAvatar>

  <FPCards
    id="experience"
    title="Experience"
    classes={{
      headline: {
        title: "text-lg md:text-xl md:text-left",
        container: "max-w-3xl md:ml-0 md:mb-4"
      },
      items: {
        title: "text-md md:text-lg",
        description: "text-sm md:text-md"
      },
      container: "pb-12 md:pb-8 lg:pb-8 pt-0 md:pt-0 lg:pt-0",
      wrapper: "flex flex-row justify-center items-center"
    }}
    items={[
      {
        image: {
          src: interns.src,
          alt: "Interns"
        },
        title: 'New Journey at Red Hat',
        description:
          'Meeting amazing colleagues, learning how to work with OpenShift, and writing personal projects.',
        classes: {
          panel: "p-0",
          title: "pl-6 pr-6 pt-4",
          description: "pl-6 pr-6 pb-6"
        }
      },
      {
        image: {
          src: redhatW.src,
          alt: "Red Hat Logo",
          width: "200",
          aspectRatio: "1.552",
          class: "mx-auto w-4 rounded-none bg-none shadow-none",
          layout: "constrained"
        },
        title: 'Software Engineering Intern',
        description:
          'OpenShift AI (Edge)',
        classes: {
          panel: "rounded-none shadow-none dark:shadow-none backdrop-blur-none border-0 bg-inherit dark:bg-inherit p-0",
          title: "pl-6 pr-6 pt-4 text-center",
          description: "pl-6 pr-6 pb-0 text-center",
          imgWrapper: "p-4 rounded-lg"
        },
        cardTag: "div",
        cardAttributes: { class: "flex flex-col justify-center" },
      },
      {
        image: {
          src: pipeline.src,
          alt: "Pipeline"
        },
        title: 'Bringing AI to the Edge!',
        description:
          'Contributing to OpenDataHub, working with OpenShift Pipelines, and writing documentation.',
        classes: {
          panel: "p-0",
          title: "pl-6 pr-6 pt-4",
          description: "pl-6 pr-6 pb-6"
        }
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </FPCards>

  <FPCards
    id="projects"
    title="Projects"
    classes={{
      headline: {
        title: "text-lg md:text-xl md:text-left",
        container: "max-w-3xl md:ml-0 md:mb-4"
      },
      items: {
        title: "text-md md:text-lg",
        description: "text-sm md:text-md"
      },
      container: "pb-12 md:pb-8 lg:pb-8 pt-0 md:pt-0 lg:pt-0",
      wrapper: "flex flex-row justify-center items-center"
    }}
    items={[
      {
        image: {
          src: cao.src,
          alt: "CAO Calculator"
        },
        title: 'CAO Calculator',
        description:
          'Android app that helps calculate how many CAO points you need to qualify for a course.',
        classes: {
          panel: "p-0",
          title: "pl-6 pr-6 pt-4",
          description: "pl-6 pr-6 pb-6"
        },
        cardTag: "a",
        cardAttributes: { target: "_blank", href: "https://cao-calculator.vercel.app/", ariaLabel: "CAO Calculator" },
      },
      {
        image: {
          src: ardisc.src,
          alt: "Arduino Discord Controller"
        },
        title: 'Arduino Discord Controller',
        description:
          'Controlling Discord using a combination of Arduino, BetterDiscord, and Python.',
        classes: {
          panel: "p-0",
          title: "pl-6 pr-6 pt-4",
          description: "pl-6 pr-6 pb-6"
        },
        cardTag: "a",
        cardAttributes: { target: "_blank", href: "https://github.com/piotrpdev/Arduino-Discord-Controller", ariaLabel: "Arduino Discord Controller" },
      },
      {
        image: {
          src: kuby.src,
          alt: "Kuby"
        },
        title: 'Kuby',
        description:
          'Simple visualization of Kubernetes resources, using a CLI written in Go.',
        classes: {
          panel: "p-0",
          title: "pl-6 pr-6 pt-4",
          description: "pl-6 pr-6 pb-6"
        },
        cardTag: "a",
        cardAttributes: { target: "_blank", href: "https://github.com/piotrpdev/kuby", ariaLabel: "Kuby" },
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </FPCards>
</Layout>
